<!doctype html>
<html>
	<head>
		<title>HTMX + JQuery - Demo</title>

		<link rel="stylesheet" type="text/css" href="./vendor/pico.classless.jade.min.css" />

		<script type="text/javascript" src="./vendor/htmx.min.js"></script>

		<!-- [[=================================================================
		| Just some Stuff to make the Menu a bit more interactive
		===================================================================]]-->
		<script>
			let currentStep = 0;

			$(document).ready(() => {
				$("[data-step]").on("click", (ev) => {
					ev.preventDefault();

					const nr = $(ev.target).data("step");

					$("BODY")
						.removeClass(`step_${currentStep}`)
						.addClass(`step_${nr}`)

					currentStep = nr;
				});
			});
		</script>

		<style>
			BODY {
				padding: 1rem;
			}
			.mainnavi-entry {
				display: list-item;		/* <- Changing this back, since PicoCSS modifies it */
				list-style-type: none;
			}

			/* Bodys "step_" class defines what navi entrie will be highlighted */
			.step_1 .mainnavi-entry:has(A[data-step="1"]),
			.step_2 .mainnavi-entry:has(A[data-step="2"]) {
				list-style-type: initial;

		</style>
	</head>
	<body data-theme="dark">
		<nav>
			<h1>HTMX + JQuery - Demo</h1>
		</nav>

		<p>
			Open your Browser Developer-Tools and Network Tab, then click one
			of the points below and see, what it does
		</p>

		<aside class="mainnavi">
			<ul>
				<li class="mainnavi-entry">
					<a
						href="#"
						data-step="1"
						hx-get="page/htmx_to_jquery.html"
						hx-target="#page-content"
					>
						1.) Generating new JQuery-Code via HTMX
					</a>
				</li>
				<li class="mainnavi-entry">
					<a
						href="#"
						data-step="2"
						hx-get="page/htmx_javascript.html"
						hx-target="#page-content"
					>
						2.) Executing HTMX returned Javascript
					</a>
				</li>
			</ul>
		</aside>

		<div id="page-content"></div>

	</body>
</html>
